@import  "~/tabulator-tables/dist/css/tabulator.min.css";

body {
    background-color: black;
    color: greenyellow;
    font-family: monospace;
}


@media only screen and (max-width: 425px){
    .header_text {
        font-size: xx-small;
    }
}
@media only screen and (min-width: 426px){
    .header_text {
        font-size: large;
    }
}

.header_text:hover{
    text-decoration: underline;
    color: greenyellow;
}

.main_header{
    padding-top: 30px;
}

.oled_class {
    background-color: white;
    color:black;

}

#c1_resize {
    max-width: 100%;
}

#oled_prev{
    background-color: orange;
    color: black;
}

#oled_next{
    background-color: orange;
    color:black;
}

#qled_prev{
    background-color: orange;
    color: black;
}

#qled_next{
    background-color: orange;
    color:black;
}

#qn94_resize {
    max-width: 100%;
}

#quiz{
    background-color: white;
    color:black;
}

.quiz_btn{
    background-color: orange;
    border: 2px solid black;
    visibility: hidden;
}

#start_btn{
    background-color: orange;
    border: 2px solid black;
    max-width: 50%;
    margin: auto;
    visibility: visible;
}

.quiz_actions{
    max-width: 50%;
    background-color:yellow;
    border: 2px solid black;
    visibility: hidden;
}

#question_name{
    visibility: hidden;
}

#question{
    visibility: hidden;
}

.table{
    color:green;
}
